{% extends '_layouts/base.njk' %}

{% block page_title %}The Ship's Log{% endblock %}

{% block page_description %}A daily blog from Capt. Crit McGillicutty.{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-4 offset-sm-4">
      <h1>Ahoy, buccanners!</h1>
      </div>
    </div>
    <div class ="col-sm-8 offset-sm-2">
      <p>Come aboard our site and explore the diary of Captain Crit McGillicutty.</p>
      <p>In his diary entries, Capt. McGillicutty illustrates the life of a man at sea during the time of pirates, myths and a turbulent world order.</p>
      {% for entry in data.entries %}
        <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
        <p class="entry-date">{{ entry.date }}</p>
        <hr>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
